<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VueによるToDoリスト</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link  rel="stylesheet" type="text/css"  href="todo-list.css">
  </head>
  <body>
    <header>
      <h1>ToDo:</h1>
    </header>
    </div>
    <div class="contents">
      <div id="input">
        <input
          type="text"
          id="todoInputArea"
          class="todo-input-area"
          v-model="newTodo"
        />
        <input type="button" value="追加" id="addTodoButton" @click="addTodo" />
      </div>
      <div>
        <ul id="todo-list">
          <todo-item v-for="item in todoItems" :todo="item"></todo-item>
        </ul>
      </div>
    </div>
    <script src="todo-list.js"></script>
  </body>
</html>
