<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VueによるToDoリスト</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="todo-list.css" />
  </head>
  <body>
    <header id="header">
      <h1>ToDo:</h1>
      <input
        type="button"
        id="deleteChecked"
        value="チェック済みの項目を削除"
        @click="deleteChecked"
      />
    </header>

    <div class="contents">
      <div id="addNewTodo">
        <input
          placeholder="ここに新しいToDoを入力してください"
          type="text"
          id="todoInputArea"
          class="todo-input-area"
          v-model="newTodo"
        />
        <input type="button" value="追加" id="addTodoButton" @click="addTodo" />
      </div>

      <div>
        <ul id="todoList">
          <li v-for="todo in todoItems" class="todo">
            <span class="todo-text" v-bind:class="{isActive: todo.check}">
              {{ todo.text }}
            </span>
            <input
              class="status"
              type="checkbox"
              v-model="todo.check"
              @change="saveCheck(todo.check)"
            />
          </li>
        </ul>
      </div>
    </div>
    <script src="todo-list.js"></script>
  </body>
</html>
